<html lang="en">

<head>
  <title>Certificate</title>
  <link href="https://fonts.googleapis.com/css?family=Fira+Code&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Italianno&display=swap" rel="stylesheet" />
  <link href="./styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="container">
    <div class="inner-container">
      <span class="certificate-id">Certificate ID Number:
        {{certificateId}}
      </span>
      <div>
        <div class="v2_158">
          <div class="container-title">
            <h1>Certificate of completion</h1>
            <h3>{{eventTitle}}</h3>
          </div>
        </div>
        <span>
          <h6 class="certificate-to">This certificate is awarded to:</h6>
          <h1 class="winner">{{username}}</h1>
        </span>
        <h3 class="certificate-date">
          On
          {{dateYear}}
          for participating as a
          {{category}}
          in the
          {{eventType}}
          created by Nuwe for
          {{company}}.
        </h3>
      </div>
    </div>
    <span class="signature">
      <img class="logo" src="https://i.postimg.cc/1RCKLcJ3/signature.png" alt="cto-signature" />
      <h3>Edgar Gago Carrillo</h3>
      Chief Technology Officer
    </span>
    <img class="stamp" src="https://i.postimg.cc/N0BTy5pn/stamp.png" alt="stamp-certificate" />
  </div>
</body>

</html>